<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the same CSS file -->
</head>

<body>
  <div class="form">
    <h1 id="heading">URL Shortener Service</h1>
    <% if (locals.id) { %>
    <p class="url-generated">URL Generated: <a href="http://localhost:8000/url/<%= id %>" target="_blank">http://localhost:8000/url/<%= id %></a></p>
    <% } %>
    <form method="post" action="/url" class="url-form">
      <div class="field">
        <input type="text" name="url" placeholder="https://example.com" class="input-field" required />
      </div>
      <div class="btn">
        <button class="button1" type="submit">Generate</button>
      </div>
    </form>
    <% if (locals.urls) { %>
    <div class="table-container">
      <table class="url-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Short ID</th>
            <th>Redirect URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= url.shortId %></td>
            <td><a href="<%= url.redirectURL %>" target="_blank"><%= url.redirectURL %></a></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <% } %>
  </div>
</body>

</html>